<div class="container">
  <h1>Training Log</h1>
  <p>Have you worked out today?</p>
  <%= link_to 'Log A Workout', new_workout_path %></br>


  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-sm-6">
      

  <h2><%= link_to workout.date, workout %></h2>

  <h3><%= workout.workout %></h3>

        </div>
      </div><br>
    <% end %>
    </div>

</div>