<h1><%= @workout.workout %></h1>


<div class="row">
    <div class="col-sm-4 col-md-3">
    
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td><%= @workout.date %></td>
            </tr>


            <tr>
              <td><strong>Duration:</strong></td>
              <td><%= @workout.duration %></td>
            </tr>
 
          </tbody>
        </table>
      </div>
    </div>
